---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Right now...",
    title: "Computer Engineer Student",
    company: "UAB",
    description:
      "Finishing my computer engineering studies, specialiazing myself in software development.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>