---
const personalImageAlt = "Arnau Muñoz"
import Badge from "../components/Badge.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import MailIcon from "../components/icons/Mail.astro"
import SocialPill from "../components/SocialPill.astro"
---

<div class="max-w-3xl flex gap-6 items-start">
  <div class="flex flex-col items-center">
    <img
      class="rounded-full shadow-lg w-[304px] h-[234px]"
      src="../arnau.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/arnau-munoz-barrera"
      target="_blank"
      rel="noopener"
      class="mt-4"
    >
      <Badge>Open to work</Badge>
    </a>
  </div>

  <div class="ml-20">
    <h1 class="text-5xl font-bold tracking-tight text-gray-800 sm:text-6xl dark:text-white">
      Hey, I'm Arnau
    </h1>
    <p class="mt-4 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
      <strong>Computer Engineer Student</strong> from Barcelona, Spain 🇪🇸.
    </p>

    <nav class="flex flex-wrap gap-4 mt-6">
      <SocialPill href="mailto:arnaumunozbarrera@gmail.com">
        <MailIcon class="size-4" />
        Connect with me
      </SocialPill>
      <SocialPill href="https://linkedin.com/in/arnau-munoz-barrera">
        <LinkedInIcon class="size-4" />
        LinkedIn
      </SocialPill>
    </nav>
  </div>
</div>
