/* .pdf-viewer {
    background: #4bb0bf;
    background: -webkit-linear-gradient(90deg, rgba(75, 176, 191, 1) 0%, rgba(61, 129, 179, 1) 41%, rgba(80, 102, 173, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(75, 176, 191, 1) 0%, rgba(61, 129, 179, 1) 41%, rgba(80, 102, 173, 1) 100%);
    background: linear-gradient(90deg, rgba(75, 176, 191, 1) 0%, rgba(61, 129, 179, 1) 41%, rgba(80, 102, 173, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4BB0BF", endColorstr="#5066AD", GradientType=1);
} */