---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Currently...",
    title: "Full Stack Developer",
    company: "Energiot",
    description:
      "Being involved in optimizing application performance, building scalable systems, and ensuring seamless integration between front-end interfaces and back-end logic. With the opportunity to develop my skills working with modern frameworks and technologies while gaining hands-on experience in both client- and server-side programming.",
  },
  {
    date: "Currently...",
    title: "Computer Engineer Student",
    company: "UAB",
    description:
      "Finishing my computer engineering studies, specialiazing myself in software development.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>